body{
  background-image: url('https://s2.glbimg.com/zeiKA0DV_l06mLj2D8SHLzmCIA4=/0x0:3658x2439/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2017/l/s/eA4rwmSnKYSXAqFeDDRQ/29069699944-6a469e69aa-o.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  font-family: 'Special Elite', cursive;
  position: relative;
  color: #ffffff;
  text-shadow: black 0.2em 0.1em 0.3em;
  width: 60%;
  left: 50px;
  top: 30px;
}

.nota{
  font-family: 'Special Elite', cursive;
  position: relative;
  color: #ffffff;
  text-shadow: black 0.2em 0.1em 0.3em;
  width: 70%;
  left: 230px;
  top: -85px;
}

img{
  position: top center;
  width: 5%;
}

a{
  font-family: 'Special Elite', cursive;
  color: white;
  position: relative;
  text-shadow: black 0.2em 0.1em 0.3em;
  width: 30%;
  left:350px;
  top: 10px;

}

h2{
  font-family: 'Special Elite', cursive;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #ffffff;
  position: relative;
  width: 30%;
  left: 40px;
  width: 40%;
  
}
.porNumero{
  background-color: white;
  border-color: transparent;
  font-family: 'Special Elite', cursive;
  position: relative;
  text-align: center;
  left: 70px;
  top: 10px;
  width:90px;
  height:20px;
  width: 15%;
}

.botao{
  font-family: 'Special Elite', cursive;
  border-color: transparent;
  background-color: white;
  position: relative;
  width: 15%;
  left: 300px; 
  top: 10px;
  width:90px;
  height:25px;
  width: 15%;
  
}

#limpar{
  background-color: black;
  color:white;
}

